.nav-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: rgb(246, 241, 241, 0.9);
}
.nav-brand {
  color: #19a7ce;
}
.nav-collapse {
  background-color: rgb(246, 241, 241, 0.9);
}
.nav-link {
  font-size: 0.8em;
  padding-left: 1vw;
}
.nav-link:hover {
  color: #19a7ce;
  transition: 1s;
  padding-left: 3vw;
}
.nav-droplink,
.nav-logout {
  font-size: 0.8em;
}
